@page "/create-consultation"
@attribute [Authorize(Roles = "Teacher")] // Only teachers can access

<h3>Create New Consultation</h3>

@* Form for creating a consultation *@
<p>Consultation creation form will be here.</p>

@code {
    // Logic for creating consultation
}
